<div class="navbar fixed-top navbar-light bg-light">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <div class="dropdown">
    <button class="dropbtn">All 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h2>Menu</h2>
      </div>   
      <div class="row">
        <div class="column">
          <h3>Mens Clothing</h3>
          <a href="#">Upper</a>
          <a href="#">Lower</a>
          <a href="#">Shoes</a>
          <a href="#">Belt</a>
          <a href="#">Tuxido</a>
        </div>
        <div class="column">
          <h3>Womens Clothing</h3>
          <a href="#">Upper</a>
          <a href="#">Lower</a>
          <a href="#">Shoes</a>
          <a href="#">Beauty</a>
          <a href="#">Other</a>
        </div>
        <div class="column">
          <h3>Kids Wear</h3>
          <a href="#">Upper</a>
          <a href="#">Lower</a>
          <a href="#">Shoes</a>
          <a href="#">Toys</a>
          <a href="#">Other</a>
        </div>
      </div>
    </div>
  </div> 
</div> 